.profile{
    background-color: rgb(12, 135, 228);
    width: full-extent;
    height: 300px;
    position: relative;
    content: normal;
}
#welcome{
    margin: 50px;
    font-family: comic sans MS;
    left: 2%;
    top: 10px;
    color: aliceblue;
    font-size: 100px;
    font-variant: small-caps;
    border-width: medium;
    border-color: brown;
    
    
  
  
    position: absolute;
}
#name{
    position: absolute;
   top:200px;
    bottom: 2px;
    left: 40px;
    font-size: 45px;
    color: whitesmoke;
    font-family:comic sans MS;
    padding-inline: 10px;
    font-kerning: normal;
}
#myimg{
    border-image: round;
    border-style: solid;
    border-image-width: inherit;
    border-width: thick;
    border-radius: 30px;
    border-color: rgb(55, 236, 236);
    position: absolute;
    right: 10px;
    width: 250px;
    height: 200px;
    bottom: 20px;
}

.uprintro{
    background-color: rgb(11, 31, 160);
    color: aquamarine;
    font-family: cosmic sans MS;
    font-style: oblique;
    padding: 10px;
    padding-left: 20px;    
}
#intro{
    font-variant: initial;
    font-display:fallback;
    font-feature-settings: "c2pc";
    font-variant-ligatures: contextual;

}
.Java{
    padding: 10px;
    width:full-extent;
    height:150px;
    background-color: aquamarine;
    position: relative;

}
.Java #Javaimg{
padding: 5px;
    right: 10px;
    position:absolute;
    
    width: 250px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

.Eclipse{
    padding: 10px;
    width:full-extent;
    background-color: antiquewhite;
    position: relative;
    height:150px;
}
.Eclipse #eclipse{
    padding: 5px;
    position:absolute;
    right: 5px;
    width: 250px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}
.Cpp{
    padding: 10px;
    background-color: rgb(9, 20, 174);
    color: black;
    font-size: 30px;
    font-style: italic;
    font-kerning: normal;
    position: relative;
    height: 150px;
    width:full-extent;
}
#cpp{ padding: 5px;
    position:absolute;
    right: 5px;
    width: 250px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}
.C{
    position: relative;
    width: full-extent;
    background-color: chocolate;
    height: 150px;
    padding-top: opx;
}
#C{

    padding: 5px;
    position:absolute;
    right: 5px;
    width: 250px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;

}
.C p{
    padding-top: 0px;
    margin-top: 0px;
}
.projects{
    margin-top: 0px;
    background-color: rgb(7, 27, 128);
    font-style: oblique;
    font-stretch: semi-expanded;
    font-size:large ;
    width: full-extent;
    height: 200px;
    position: relative;
}
.projects p{
    margin-top: inherit;
}
#projectimg{
    position: absolute;
    right: 5px;
    width: 250px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    border-radius: 20px;
}
.motive{
    background-color: rgb(7, 21, 111);
}
.contact{
    background-color: rgb(5, 23, 37);
}