#container{
    position: relative;
    width:1500px;
    align-items: center;
    background-image: url(background.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}


.profile{
    background-color: rgb(160, 191, 207);
    width: full-extent;
    height: 500px;
    position: relative;
    content: normal;
   border-radius: 40px;
   padding-bottom: 10px;
   margin-bottom: 10px;
}
#welcome{
    margin: 50px;
    font-family: comic sans MS;
    left: 2%;
    top: 2px;
    color: rgb(28, 111, 184);
    font-size: 90px;
    font-variant: small-caps;
    border-width: medium;
    border-color: rgb(132, 71, 228);
    position: absolute;
    width: 350px;
}
#name{
    position: absolute;
   top:300px;
    bottom: 70px;
    left: 40px;
    font-size: 45px;
    color: rgb(24, 62, 202);
    font-family:comic sans MS;
    padding-inline: 10px;
    font-kerning: normal;
}
#myimg{
    
   
    border-image-width: inherit;
    border-width: thick;
    border-radius: 10px;
    
    position: absolute;
    right: 60px;
    width: 450px;
    height: 450px;
    bottom: 20px;
}
main p{
    width: 800px;
    color: rgb(26, 29, 218);
    font-size: large;
}
.uprintro{
    background-color: rgb(176, 180, 195);
    border-radius: 40px;
    color: rgb(129, 136, 219);
    font-family: cosmic sans MS;
    font-style: oblique;
    padding: 10px;
    padding-left: 20px; 
    box-sizing: content-box;   
    
}
#intro{
    font-variant: initial;
    font-display:fallback;
    font-feature-settings: "c2pc";
    font-variant-ligatures: contextual;
    width: auto;
    font-size: large;
    font-weight: bold;

}
.parent{
    position: relative;
    text-align: center;
}
.child
{
    color: rgb(201, 37, 15);
    position: absolute;
    top: 10px;
    left: 30%;
  align-items: center;
    vertical-align: middle;
   font-size: x-large;
   font-weight: 800;
   width: 500px; 
   background-repeat: no-repeat;  
   background-size: contain;
   background-blend-mode:screen;

}
#Java{
    padding: 30px;
    width:full-extent;
    height:150px;
    background-color: rgb(19, 20, 20);
    position: relative;
box-sizing: content-box;

height: 300px;
background-image: url(java_c.png);
border-radius: 50px;
margin: 20px;
background-size: 580px 380px;
}
#Java p{
    color: rgb(179, 165, 19);
    width: 500px;
    height: 200px;
}


#Eclipse{
    padding: 30px;
    width:full-extent;
    height:150px;
    background-color: rgb(19, 20, 20);
    position: relative;
box-sizing: content-box;

height: 300px;
background-image: url(eclipse.png);
border-radius: 50px;
margin: 20px;
background-size: cover;
}
#Eclipse p{
    width: 500px;
    height: 200px;
    color: black;
}
#Cpp{
    padding: 30px;
    width:full-extent;
    height:150px;
    background-color: rgb(19, 20, 20);
    position: relative;
box-sizing: content-box;

height: 300px;
background-image: url(C++.jpg);
border-radius: 50px;
margin: 20px;
background-size: cover;
}
#Cpp p{
    width: 500px;
    height: 200px;
    color: black;
}

#projects{
    padding: 10px;
    width:full-extent;
    height:150px;
    background-color: rgb(19, 20, 20);
    position: relative;
box-sizing: content-box;
width: 550px;
height: 300px;
background-image: url(newmain.jpg);
border-radius: 50px;
background-size: contain;
padding-bottom: 30px;
margin-bottom: 30px;

}
#projects p{
    width: 500px;
    height: 200px;
    color:rgb(10, 11, 11);
}



main{
    padding-bottom: 0%;
    margin-bottom: 0%;
}

body{

    font-size: larger;
    font-weight: 400;
    font-family: comic sans MS;
    font-stretch: expanded;
}
.contact{
    position: relative;
    text-align: center;
    width:auto;
    height: 50px;
    vertical-align: middle;
    background-color: black;
    margin: 10px;
    padding: 10px;

}
 a:hover{
    color: rgb(45, 222, 163);
    font-size: x-large;
    font-weight: 700;
    
}
.side{
    position: absolute;
    left: 10px;
    color: rgb(93, 93, 196);
    font-size: 80px;
}